html {
  font-size: 10px; 
  font-family: 'Coustard', serif;    
}

h1{
    font-size: 48px;
     font-family: 'Coustard', serif;  
     color: midnightblue;  
    text-align: center
        
}

p{ font-size: 10px;
    color: darkorange ;
    
    
    
}
body {width: 600px;
    margin: 0 auto;
  background-color: #DCE1E9
    
}